DJANGO_SECRET_KEY='<DJANGO_SECRET_KEY>'
DJANGO_DEBUG='<DJANGO_DEBUG>'
DB_NAME='<DB_NAME>'
DB_USER='<DB_USER>'
DB_PASSWORD='<DB_PASSWORD>'
DB_HOST='<DB_HOST>'
DB_PORT='<DB_PORT>'
AUTH_USER_MODEL='<AUTH_USER_MODEL>'
ALLOWED_HOSTS='<ALLOWED_HOSTS>'
EMAIL_BACKEND='<EMAIL_BACKEND>'