DJANGO_SECRET_KEY='<DJANGO_SECRET_KEY>'
DJANGO_DEBUG='<DJANGO_DEBUG>'
DB_NAME='<DB_NAME>'
DB_USER='<DB_USER>'
DB_PASSWORD='<DB_PASSWORD>'
DB_HOST='<DB_HOST>'
DB_PORT='<DB_PORT>'
AUTH_USER_MODEL='<AUTH_USER_MODEL>'
ALLOWED_HOSTS='<ALLOWED_HOSTS>'
EMAIL_BACKEND='<EMAIL_BACKEND>'
ACCESS_TOKEN_LIFETIME_HOURS='<ACCESS_TOKEN_LIFETIME_HOURS>'
REFRESH_TOKEN_LIFETIME_DAYS='<REFRESH_TOKEN_LIFETIME_DAYS>'
CORS_ALLOWED_ORIGINS='<CORS_ALLOWED_ORIGINS>'
REDIS_URL='<REDIS_URL>'
EMAIL_HOST='<EMAIL_HOST>'
EMAIL_PORT='<EMAIL_PORT>'
EMAIL_USE_TLS='<EMAIL_USE_TLS>'
EMAIL_HOST_USER='<EMAIL_HOST_USER>'
EMAIL_HOST_PASSWORD='<EMAIL_HOST_PASSWORD>'