annotated-types              
asgiref                      
attrs                        
charset-normalizer           
Django                       
django-environ               
django-phonenumber-field     
djangorestframework          
djangorestframework_simplejwt
drf-spectacular              
inflection                   
jsonschema                   
jsonschema-specifications    
pillow                       
pip                          
psycopg2-binary              
pydantic                     
pydantic_core                
PyJWT                        
PyYAML                       
referencing                  
reportlab                    
rpds-py                      
sqlparse                     
typing_extensions            
typing-inspection            
tzdata                       
uritemplate                  
